body{
    margin: 0em;
}
#Cabeçalho{
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: #A62A2A;
    align-items: center;
    position: sticky;
    top: 0%;
    box-shadow: 0px -4px 20px 7px black;
}
#menu{
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    margin-right: 10%;
}
#img_cbc{
    width: 120px;
    margin-inline-start: 10%;
    padding: 0.3em;
}
ul{
    font-family: "Nerko One", cursive;
    font-style: normal;
    font-size: 40px;
    color: #D9D919;
    transition: all 0.3s ease;  
    white-space: nowrap;
    padding-inline-start: 0%;
}
#Sessão{
    display: flex;
    gap: 0%;
    margin: auto;
}

#Sessão:hover{
    transform: scale(1.04);
    cursor: pointer;  
    color: #e6e60d;
}
.linha{
    margin: 5px;
    display: block;
    height: 5px;
    width: 20px;
    background-color: white;
    border: 1px white solid;
    display: none;
}
html{
    scroll-behavior: smooth;
}
@media(max-width: 950px){
    #menu{
        display: none;
    }
    .linha{
        display: block;
        width: 40px;
    }
    #menu_mob{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 30px;
    }
}