html{
    height: 100%;
}
body{
    position: absolute;
    margin: 0;
    min-height: 100vh;
    background-color: #000085; /* Define a cor de fundo azul */
    background-attachment: fixed;
}
 body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/Assets/Imagem_de_fundo.png');
    background-size:contain; /* Ajuste conforme necessário */
    background-position: center;
    background-repeat: no-repeat;/* Faz com que a imagem não se repita */
    background-attachment: fixed;
    z-index: -2; /* Coloca a imagem atrás do gradiente */
}
body::after{
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, rgb(0,0,0, 1),rgb(255,255,255,0));
    background-attachment: fixed;
    opacity: 100%;
    z-index: -1;
}
#Historia-Biografia{
    display: grid;    
    align-items: center;
    justify-content: center;
}
.Titulos{
    display:inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 
    2px 2px 0 #000,  
    -2px -2px 0 #000,   
    2px -2px 0 #000,
    -2px 2px 0 #000;
    font-size: clamp(30px, 8vw, 96px);
    font-family: "Itim", cursive;
    font-weight: 40;
    font-style: normal;
}
.Titulos::after{
    content: "";
    display: block;
    width: 85%;
    height: 2px;
    margin: 0% auto;
    background-color: #ffffff;
    margin-top: 5px;
}
.subtitulos-historia{
    color: rgb(255, 255, 255);
    margin: 110px auto 25px auto;
    text-shadow: 
    2px 2px 0 #BDC026,  
    -2px -2px 0 #BDC026,
    2px -2px 0 #BDC026,
    -2px 2px 0 #BDC026;
    font-size: clamp(30px, 5vw, 70px);
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.textos{
    background-color: rgba(189, 192, 38, 0.25) ;
    color: #ffffff;
    border-radius: 50px;
    font-size: clamp(10px, 6vw, 48px);
    white-space: normal;
    padding: 40px;
    margin: auto 40px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#evolucao{ 
    display: grid;
    position: relative;
    margin-top:200px ;
    margin-bottom: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.subtitulos-evolucao{
    color: rgb(255, 255, 255);
    margin: auto auto 0px auto;
    text-shadow: 
    2px 2px 0 #000000,  
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000;
    font-size: clamp(30px, 8vw, 80px);
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.video-container{
    position: relative;
    margin: auto auto 100px auto;
    width: 80%;
    height: 45vw;  
}
.video-container .imgs-evolucao,
.video-container .video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.video-container .video{
    opacity: 0;
    transition:opacity 0.5s ease;
    pointer-events: none;
}
.video-container:hover .video{
    opacity: 1;
}
.video-container:hover .imgs-evolucao{
    opacity: 0;
}


